<!-- <div class="limiter"> -->
    <!-- <div class="container-login100"> -->
        <div class="wrap-login100 loginbox" style="margin:0 auto;">
            <form class="login100-form validate-form" #userlogin="ngForm" (ngSubmit)="userVerify()">
                <span class="login100-form-title p-b-26">
                    Welcome
                </span>
                <span class="login100-form-title p-b-48">
                    <!-- <i class="zmdi zmdi-font"></i> -->
                </span>

                <div class="wrap-input100 validate-input" > <!--data-validate = "Valid email is: a@b.c"-->
                    <input class="input100" type="email" name="mail" [(ngModel)]="User.mail" required #username="ngModel" pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}">
                    <span class="focus-input100" data-placeholder="Email"></span>
                    <!-- <small class="text-danger" [class.d-none]="email.invalid || email.touched">Enter valid email</small> -->
                </div>

                    <!-- <div>touched:{{password.touched}}</div>
                    <div>dirty:{{username.dirty}}</div>
                    <div>valid:{{username.valid}}</div> -->

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input100" type="password" name="password" [(ngModel)]="User.password" required minlength="6" #password="ngModel">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" [disabled]="userlogin.form.invalid">
                            Login
                        </button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">
                        Don’t have an account?
                    </span>

                    <a class="txt2" href="#">
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    <!-- </div> -->
<!-- </div> -->


<div id="dropDownSelect1"></div>


<!-- =============================================================================================== -->
<!-- <script src="login/vendor/jquery/jquery-3.2.1.min.js"></script> -->
<!--=============================================================================================== -->
<!-- <script src="login/vendor/animsition/js/animsition.min.js"></script> -->
<!--===============================================================================================-->
<!-- <script src="login/vendor/bootstrap/js/popper.js"></script>
<script src="login/vendor/bootstrap/js/bootstrap.min.js"></script> -->
<!--===============================================================================================-->
<!-- <script src="login/vendor/select2/select2.min.js"></script> -->
<!--===============================================================================================-->
<!-- <script src="login/vendor/daterangepicker/moment.min.js"></script>
<script src="login/vendor/daterangepicker/daterangepicker.js"></script> -->
<!--===============================================================================================-->
<!-- <script src="login/vendor/countdowntime/countdowntime.js"></script> -->
<!--===============================================================================================-->
<!-- <script src="login/js/main.js"></script> -->