/* .maindiv{
    height: 800px;
} */
app-footer {
    /* position:absolute; */
    /* bottom:0; */
    width: 100%;
 }
 /* app-header{
     margin-bottom:0;
 } */
 .mainbod{
     margin:0;
     padding:0;
     min-height: 74vh;
 }
 .heaa{
    margin:0;
 }

 @import '~ngx-toastr/toastr';