<!-- <p>contactus works!</p> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
    <!-- <link href="contactus.css" rel="stylesheet"> -->

<div class="bodd">
    <h1 style="text-align: center; color:#336eb1 ;">Contact Us</h1><br><br>
    <div class="con">
    <div class="row row-cols-1 row-cols-md-4 g-5">
        <div class="col" style="margin-left: 10%;">
          <div class="card">
            <i class="material-icons" style="font-size:48px;color:#336eb1;padding-left: 40%;padding-top: 4%;">email</i>

            <div class="card-body">
              <a style="text-decoration: none;color: rgba(57, 157, 204, 0.829);padding-left: 40%;" href="https://mail.google.com/mail/u/0/#inbox?compose=new"><h4 class="card-title">medibook@yahoo.com</h4></a>
              <br>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
                <i class="material-icons" style="font-size:48px;color:#336eb1;padding-left: 40%;padding-top: 4%;">call</i>
                <br>
                <div class="card-body">
                <h4 class="card-title" style="padding-left: 20%;color: rgba(57, 157, 204, 0.829);">+91 123 4567 890</h4><br>
                
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
                <i class="material-icons" style="font-size:48px;color:#336eb1; padding-left: 40%;">watch_later</i>
                <p style="padding-left: 35%;color: rgba(57, 157, 204, 0.829);">Opening hours</p>
                    
              <h4 class="card-title" style="padding-left: 23%; color: rgba(57, 157, 204, 0.829);">We are available<br></h4>
              <h4 style="padding-left: 43%;font-size: large; color: rgba(57, 157, 204, 0.829);">24*7</h4>
            </div>
          </div>
          </div></div></div></div>
  <div class="connect">
          <h2>Connect with us @</h2>
          <hr >
          <i class="fa fa-instagram" style="font-size:36px"></i>
          <i class="fa fa-youtube-play" style="font-size:36px"></i>
          <i class="fa fa-twitter" style="font-size:36px"></i>
          <i class="fa fa-linkedin-square" style="font-size:36px"></i>
          <i class="fa fa-facebook-official" style="font-size:36px"></i>






  </div>