<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="patientprofile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="appointments">Appointments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="myrecords">My Records</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="bookappoint">Book an Appointment</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <div class="logo_name">Code4education</div>
      </div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
      <li>
         <i class='bx bx-search'></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
       <a href="#">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
       </a>
       <span class="tooltip">Dashboard</span>
     </li>
      <li>
        <a href="#">
         <i class='bx bx-user'></i>
         <span class="links_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      <li>
       <a href="#">
        <i class='bx bx-chat'></i>
        <span class="links_name">Messages</span>
       </a>
       <span class="tooltip">Messages</span>
     </li>
     <li>
       <a href="#">
        <i class='bx bx-pie-chart-alt-2'></i>
        <span class="links_name">Analytics</span>
       </a>
       <span class="tooltip">Analytics</span>
     </li>
     <li>
       <a href="#">
        <i class='bx bx-folder'></i>
        <span class="links_name">File Manager</span>
       </a>
       <span class="tooltip">File Manager</span>
     </li>
     <li>
       <a href="#">
        <i class='bx bx-cart-alt'></i>
        <span class="links_name">Order</span>
       </a>
       <span class="tooltip">Order</span>
     </li>
     <li>
       <a href="#">
        <i class='bx bx-heart'></i>
        <span class="links_name">Saved</span>
       </a>
       <span class="tooltip">Saved</span>
     </li>
     <li>
       <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Setting</span>
       </a>
       <span class="tooltip">Setting</span>
     </li>
    </ul>
    <div class="content">
      <div class="user">
        <div class="user_details">
          <img src="https://images.unsplash.com/photo-1535890696255-dd5bcd79e6df?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2FkJTIwbmF0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="">
          <div class="name_job">
            <div class="name">Bhaskar Gupta</div>
            <div class="job">Web Designer</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out"></i>
      </div>
    </div>
  </div> -->
  
  <!-- <script src="./frontend/src/assets/custom.js"></script> -->

  <!-- <input type="checkbox" id="check">
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
  </label>
  <div class="sidebar">
    <header>My Menu</header>
    <a href="#" class="active">
      <i class="fas fa-qrcode"></i>
      <span>Dashboard</span>
    </a>
    <a href="#">
      <i class="fas fa-link"></i>
      <span>Shortcuts</span>
    </a>
    <a href="#">
      <i class="fas fa-stream"></i>
      <span>Overview</span>
    </a>
    <a href="#">
       <i class="fas fa-calendar"></i>
      <span>Events</span>
    </a>
    <a href="#">
      <i class="far fa-question-circle"></i>
      <span>About</span>
    </a>
    <a href="#">
      <i class="fas fa-sliders-h"></i>
      <span>Services</span>
    </a>
    <a href="#">
      <i class="far fa-envelope"></i>
      <span>Contact</span>
    </a>
  </div> -->


