<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="patientprofile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="appointments">Appointments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="myrecords">My Records</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="bookappoint">Book an Appointment</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->


  <input type="checkbox" id="check">
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
  </label>
  <div class="sidebar">
    <header>My Menu</header>
    <a href="#" class="active">
      <i class="fas fa-qrcode"></i>
      <span>Dashboard</span>
    </a>
    <a href="#">
      <i class="fas fa-link"></i>
      <span>Shortcuts</span>
    </a>
    <a href="#">
      <i class="fas fa-stream"></i>
      <span>Overview</span>
    </a>
    <a href="#">
       <i class="fas fa-calendar"></i>
      <span>Events</span>
    </a>
    <a href="#">
      <i class="far fa-question-circle"></i>
      <span>About</span>
    </a>
    <a href="#">
      <i class="fas fa-sliders-h"></i>
      <span>Services</span>
    </a>
    <a href="#">
      <i class="far fa-envelope"></i>
      <span>Contact</span>
    </a>
  </div>

