/* @import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #1e1e1e;
  transition: all .5s ease;
}
.sidebar header{
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
} */



/* Google Font CDN Link */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
:root{
    --black-color:#11101d;
    --white-color:#fff;
    --sky-color:#E4E9F7;
    --light-black:#1d1b31;
}
body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
::selection{
  color:var(--white-color);
  background: var(--black-color);
} 
.sidebar{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:78px;
  background:var(--black-color);
  padding:6px 14px;
  z-index:99;
  transition:all 0.5s ease;
}
.sidebar.active{
  width:240px;
}
.sidebar .logo_content .logo{
  color:var(--white-color);
  display: flex;
  height:50px;
  width:100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition:all 0.5s ease;
}
.sidebar.active .logo_content .logo{
  opacity:1;
  pointer-events: none;
}
.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn{
  position:absolute;
  color:var(--white-color);
  top:6px;
  left:50%;
  font-size: 22px;
  height:50px;
  width:50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn{
  left:90%;
}
.sidebar ul{
  margin-top:20px;
}
.sidebar ul li{
  position:relative;
  height:50px;
  width:100%;
  margin:5px 0;
  list-style: none;
  line-height: 50px;
}
.sidebar ul li .tooltip{
  position:absolute;
  left:125px;
  top:0;
  transform:translate(-50%, -50%);
  border-radius: 6px;
  height:35px;
  width:120px;
  background: var(--white-color);
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition:0s;
  opacity:0;
  pointer-events: none;
  display:block;
}
.sidebar ul li .tooltip::before{
  content:'';
  width:0;
  height:0;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid var(--white-color);
  position:absolute;
  left:-8px;
  top:7px;
}
.sidebar.active ul li .tooltip{
  display:none;
}
.sidebar ul li:hover .tooltip{
  transition:all 0.5s ease;
  opacity:1;
  top:50%;
}
.sidebar ul li input{
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  border-radius: 12px;
  outline:none;
  border:none;
  background: #1d1b31;
  padding-left:50px;
  font-size: 18px;
  color:var(--white-color);
}
.sidebar ul li .bx-search{
  position:relative;
  z-index: 99;
  color:var(--white-color);
  font-size: 22px;
  transition:all 0.5s ease;
}
.sidebar ul li .bx-search:hover{
  background:var(--white-color);
  color:#1d1b31;
}
.sidebar ul li a{
  color:var(--white-color);
  display:flex;
  align-items:center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition:all 0.4s ease;
}

.sidebar ul li a:hover{
  color:var(--black-color);
  background:var(--white-color);
}
.sidebar ul li i{
  font-size: 18px;
  font-weight: 400;
  height:50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .links_name{
  font-size: 15px;
  font-weight: 400;
  opacity:0;
  pointer-events: none;
  transition:all 0.3s ease;
}
.sidebar.active .links_name{
  transition:0s;
  opacity:1;
  pointer-events: auto;
}
.sidebar .content{
  position:absolute;
  color:var(--white-color);
  bottom:0;
  left:0;
  width:100%;
}
.sidebar .content .user{
  position:relative;
  padding:10px 6px;
  height:60px;
  background: none;
  transition:all 0.4s ease;
}
.sidebar.active .content .user{
  background:var(--light-black);
}
.content .user .user_details{
  display:flex;
  align-items:center;
  opacity:0;
  pointer-events: none;
  white-space: nowrap;
  transition:all 0.4s ease;
}
.sidebar.active .user .user_details{
  opacity:1;
  pointer-events: auto;
}
.content .user .user_details img{
  height:45px;
  width:45px;
  object-fit: cover;
  border-radius: 12px;
}
.name_job{
  margin-left:10px;
}
 .user_details .name{
  font-size: 15px;
  font-weight: 400;
}
 .user_details .job{
  font-size: 12px; 
}
 #log_out{
  position:absolute;
  bottom:5px;
  left:50%;
  transform:translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition:all 0.4s ease;
}
.sidebar.active .user #log_out{
  left:80%;
  background:none;
}
.home_content{
  position:absolute;
  height:100%;
  width:calc(100% - 78px);
  left:78px;
  background:var(--sky-color);
  padding:20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition:all 0.5s ease;
}
.sidebar.active ~ .home_content{
  z-index:100;
  width:calc(100% - 240px);
  left:240px;
}
.home_content .text{
  font-size: 25px;
  font-weight: 600;
  color:var(--light-black);
  margin-bottom:15px;
}
.home_content p{
  margin-bottom:15px;
} */