

<div class="testclass">
    <h1>
        Profile Details
    </h1>
    <br>

    <form>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-1 col-form-label">Name</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" >
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-1 col-form-label">Password</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-1 col-form-label">Blood Group</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-1 col-form-label">Age</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" >
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-1 col-form-label">Phone</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" >
            </div>
          </div>
        
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    <!-- <div>
        <div>
            <img src="wrongname.gif" alt="This is where the image loads">
        </div>
        <p>*png or jpg files supported</p>
    </div> -->
    

</div>
<div id="heig"></div>
<!-- <br><br><br><br><br><br><br> -->
