/* .leftpart{
    float: left;
    
} */
#heig{
    height: 240px
}
.testclass{

    margin-top:2%;
    margin-left: 30%;
    /* width: 50%; */
    /* margin-left: 400px; */
    /* margin-bottom: 13%; */
    /* background-color: brown; */
    /* justify-content: center; */
}
/* .bttn{
    margin-left: 0%;
} */