<!-- <p>aboutus works!</p> -->
<h1 style="text-align: center;" >About us</h1>
    
    <div class="Our_vision" >
        <div class="row">
        <div class="col-md-4"><img src="vision.jpg" class="lazyloaded" data-ll-status="loaded"><noscript><img src="vision.jpg" /></noscript>
        </div>
        <div class="col-md-8">
        <p><img src="quote.svg" class="lazyloaded" data-ll-status="loaded"><noscript><img src="quote.svg" /></noscript></p>
        <h3 class="phone-h3">To be a globally respected destination for excellence in patient care and the most trusted Centre for personalized healthcare.</h3>
        <h2 class="phone-h2">Our Vision</h2>
        <br><br><br><br><br><br><br><br><br>
        </div>
        </div>
        </div>
        

        <div class="Our_mission">
            <div class="row">
            <div class="col-md-8">
            <p><img src="quote.svg" class="lazyloaded" data-ll-status="loaded"><noscript><img src="quote.svg" /></noscript></p>
            <h3 class="phone-h3">To provide exceptional, compassionate care, using cutting – edge technology and the latest advances in medicine with medical expertise in the most cost effective way.</h3>
            <h2 class="phone-h2">Our Mission</h2>
            </div>
            <div class="col-md-4"><img src="mission.jpg" class="lazyloaded" data-ll-status="loaded"><noscript><img src="mission.jpg" /></noscript>
            </div>
            </div>
            </div>
            <br><br><br><br>
            <div class="qulaity_policy">
                <div class="row">
                <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-delay="400">
                <h2 class="phone-h2">Our Quality Policy</h2><br>
                <ul class="our_quality1">
                <li>
                <div>Inspire hope and nurture the well-being of our patients by respecting their physical, emotional and spiritual needs.

                </div>
                </li>
                </ul>
                </div>
                <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-delay="400">
                <ul class="our_quality">
                <li>
                <div>Provide holistic timely patient care</div>
                </li>
                <li>
                <div>Ensure compassion in patient relationship management.</div>
                </li>
                <li>
                <div>Treat patients and their families with empathy and sensitivity.</div>
                </li>
                <li>
                <div>Continually upgrade the knowledge and techniques in patient care.</div>
                </li>
                </ul>
                </div>
                </div>
            </div>