<div>
    <div>
        <div class="leftpart">
            <label>Date:</label>
            <input type="text"><br>
            <label>Doctor:</label>
            <input type="text">
            <label>Department:</label>
            <input type="text"><br>
        </div>
        <input type="submit" value="Book Now">
    </div>
    <div class="vl"></div>
    <div class="prevappo">
        <div class="card w-50">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
    </div>
</div>