<!-- <div>
    <div class="row">
        <div class="col-sm-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">appointment date</h5>
              <p class="card-text">Details about the appointment</p>
              <a href="#" class="btn btn-primary">Click to open</a>
            </div>
          </div>
        </div>
    </div>
</div> -->
<div class="card w-25 space">
  <div class="card-body">
    <h5 class="card-title">(Date of Appointment)</h5>
    <p class="card-text">Doctor name: <br> Doctor type</p>
    <!-- <a href="#" class="btn btn-primary">Button</a> -->
    <button class="btn btn-primary">Cancel</button>
  </div>
</div>